body {
    margin: 0;
    padding: 0;
  
    color: #333;
    font-family: sans-serif;
    line-height: 1.5;
  
    background: #f9f9f9;
  }
  
  .header {
    padding: 20px 40px;
    font-size: 25px;
  }
  
  .header-white {
    background: #fff;
  }
  
  .nav ul {
    margin: 0;
    padding: 0;
  
    list-style: none;
  }
  
  .nav > ul {
    display: flex;
  }
  
  .nav li {
    
    position: relative;
    
  
    padding: 15px 30px;
  
    cursor: pointer;
  }
  
  .sub-menu {
    
    display: none;
    
  }
  
  .nav li:hover > .sub-menu {
    
    position: absolute;
    left: 0;
    display: block;
    
    width: max-content;
    padding-top: 25px;
  
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgb(240 240 240 / 100%);
  }
  
  .nav a {
    color: #333;
    text-decoration: none;
  }
  
  .nav .nav-title {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav li:hover > a,
  .nav li:hover > .nav-title {
    color: #717171;
  } 
 

  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
   

  }
  
  
  form {
    width: 300px;
    margin:  0 auto;
  }
  
  form h2 {
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  
  
  
  form button:hover {
    background-color: #0056b3;
  }
  
  header img {
    height: 50px;
  }
  .container img {
    height: 50px;
    position: relative;
    left: 926px;
    
    
    
  }